In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass

In [2]:
password = getpass.getpass()
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
%load_ext sql
%sql {connection_string}

 ········

------------------
1. List the number of films per category.
------------------

In [4]:
%%sql
select * from sakila.film
limit 5;

 * mysql+pymysql://root:***@localhost/sakila
5 rows affected.

[(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, None, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', 'Deleted Scenes,Behind the Scenes', datetime.datetime(2006, 2, 15, 5, 3, 42)),
 (2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 2006, 1, None, 3, Decimal('4.99'), 48, Decimal('12.99'), 'G', 'Trailers,Deleted Scenes', datetime.datetime(2006, 2, 15, 5, 3, 42)),
 (3, 'ADAPTATION HOLES', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 2006, 1, None, 7, Decimal('2.99'), 50, Decimal('18.99'), 'NC-17', 'Trailers,Deleted Scenes', datetime.datetime(2006, 2, 15, 5, 3, 42)),
 (4, 'AFFAIR PREJUDICE', 'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank', 2006, 1, None, 5, Decimal('2.99'), 117, Decimal('26.99'), 'G', 'Commentaries,Behind the Scenes', datetime.datetime(2006, 2, 15, 5, 3, 42)),
 (5, 'AFRICAN EGG', 'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico', 2006, 1, None, 6, Decimal('2.99'), 130, Decimal('22.99'), 'G', 'Deleted Scenes', datetime.datetime(2006, 2, 15, 5, 3, 42))]

In [6]:
%%sql
select * from sakila.film_category
limit 5;

 * mysql+pymysql://root:***@localhost/sakila
5 rows affected.

[(1, 6, datetime.datetime(2006, 2, 15, 5, 7, 9)),
 (2, 11, datetime.datetime(2006, 2, 15, 5, 7, 9)),
 (3, 6, datetime.datetime(2006, 2, 15, 5, 7, 9)),
 (4, 11, datetime.datetime(2006, 2, 15, 5, 7, 9)),
 (5, 8, datetime.datetime(2006, 2, 15, 5, 7, 9))]

In [7]:
%%sql
select * from sakila.category
limit 5;

 * mysql+pymysql://root:***@localhost/sakila
5 rows affected.

[(1, 'Action', datetime.datetime(2006, 2, 15, 4, 46, 27)),
 (2, 'Animation', datetime.datetime(2006, 2, 15, 4, 46, 27)),
 (3, 'Children', datetime.datetime(2006, 2, 15, 4, 46, 27)),
 (4, 'Classics', datetime.datetime(2006, 2, 15, 4, 46, 27)),
 (5, 'Comedy', datetime.datetime(2006, 2, 15, 4, 46, 27))]

In [13]:
%%sql
select c.name, count(f.film_id) num_films_per_cat
from sakila.category as c
join sakila.film_category as fc on c.category_id = fc.category_id
join sakila.film as f on f.film_id = fc.film_id
group by c.name
limit 10;

 * mysql+pymysql://root:***@localhost/sakila
10 rows affected.

[('Action', 64),
 ('Animation', 66),
 ('Children', 60),
 ('Classics', 57),
 ('Comedy', 58),
 ('Documentary', 68),
 ('Drama', 62),
 ('Family', 69),
 ('Foreign', 73),
 ('Games', 61)]