In [2]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input

In [3]:
password = getpass.getpass()
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)
%load_ext sql
%sql {connection_string}

 ········

In [4]:
%%sql
select max(date) from bank.trans;

 * mysql+pymysql://root:***@localhost/bank
1 rows affected.

[(981231,)]

In [7]:
%%sql
select * from bank.trans
limit 10;

 * mysql+pymysql://root:***@localhost/bank
10 rows affected.

[(695247, 2378, 930101, 'PRIJEM', 'VKLAD', 700.0, 700.0, '', '', 0),
 (171812, 576, 930101, 'PRIJEM', 'VKLAD', 900.0, 900.0, '', '', 0),
 (207264, 704, 930101, 'PRIJEM', 'VKLAD', 1000.0, 1000.0, '', '', 0),
 (1117247, 3818, 930101, 'PRIJEM', 'VKLAD', 600.0, 600.0, '', '', 0),
 (579373, 1972, 930102, 'PRIJEM', 'VKLAD', 400.0, 400.0, '', '', 0),
 (771035, 2632, 930102, 'PRIJEM', 'VKLAD', 1100.0, 1100.0, '', '', 0),
 (452728, 1539, 930103, 'PRIJEM', 'VKLAD', 600.0, 600.0, '', '', 0),
 (725751, 2484, 930103, 'PRIJEM', 'VKLAD', 1100.0, 1100.0, '', '', 0),
 (497211, 1695, 930103, 'PRIJEM', 'VKLAD', 200.0, 200.0, '', '', 0),
 (232960, 793, 930103, 'PRIJEM', 'VKLAD', 800.0, 800.0, '', '', 0)]

In [5]:
 %%sql
select *, (select max(date) from bank.trans) as max_date from bank.trans
limit 5;

 * mysql+pymysql://root:***@localhost/bank
5 rows affected.

[(695247, 2378, 930101, 'PRIJEM', 'VKLAD', 700.0, 700.0, '', '', 0, 981231),
 (171812, 576, 930101, 'PRIJEM', 'VKLAD', 900.0, 900.0, '', '', 0, 981231),
 (207264, 704, 930101, 'PRIJEM', 'VKLAD', 1000.0, 1000.0, '', '', 0, 981231),
 (1117247, 3818, 930101, 'PRIJEM', 'VKLAD', 600.0, 600.0, '', '', 0, 981231),
 (579373, 1972, 930102, 'PRIJEM', 'VKLAD', 400.0, 400.0, '', '', 0, 981231)]

In [6]:
%%sql
drop view if exists last_week_withdrawals;

create view last_week_withdrawals as
with transactions as (
  select *, (select max(date) from bank.trans) as max_date 
  from bank.trans
)

select client_id, round(sum(amount)) total_withdrawal
from bank.disp
left join transactions
using (account_id)
where date(date) > date_sub(max_date, interval 7 day)
group by client_id;

 * mysql+pymysql://root:***@localhost/bank
0 rows affected.
0 rows affected.

[]

In [7]:
%%sql
select * from last_week_withdrawals
limit 5;

 * mysql+pymysql://root:***@localhost/bank
5 rows affected.

[(3011, 16532.0),
 (3295, 4491.0),
 (3296, 1124.0),
 (4304, 2218.0),
 (2867, 1319.0)]